
<body>
    <% if (family == "undefined"){ %>
        <div class="container" style = "margin-top: 10%">
            <div class="row">
                <div class="col">
                    <center>
                        <button type="button" class="btn btn-primary" onclick= "window.location.href = '/family_signup'" style = "width: 40%;height:100%; font-size:30px;">Create Family Here!</button>
                    </center>
                </div>
                <div class="col">
                    <center>
                        <button type="button" class="btn btn-primary" onclick= "window.location.href = '/claim_family'" style = "width: 40%;height:100%;font-size: 30px;">Join an existing Family</button>
                    </center>
                </div>
            </div>
        </div>
    <% } %>
</body>
</html>